body{
  background-color: #eaf200;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1{
  color:#4000ff
}
img{
  border-radius:10%;
}
.rr
{
  margin-left:11%;
}

body {
   padding-bottom: 20em; 
  position:relative;
}
body {
  padding-bottom: 20em;
  position:relative;
}
ul{
list-style:none;
margin:0;
padding:0;
}
li a {
    display: block;
    padding: 8px;
    color:yellow;
}
.navbar li {
 list-style-type: none;
 text-align: center;
 font-size: 47px;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  flex-wrap:wrap;
  min-height:8em;
  align-items:center;
  }

nav {
  background-color: blue;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content: space-around;
  flex-wrap:wrap;
  position:fixed;
  z-index:2;
}

.navbar a:link {
  text-decoration:none;
}
.icon{
  display:none;
}
.navbar button{
  background:none;
  color:yellow;
  border:none;
  font-size:1em;
  padding:0;
}
@media screen and (max-width:1035px){ ul.nav li:not(:first-child){
  display:none;
  }
  ul.navbar{
    flex-direction:column;
  }
  ul.navbar li.icon{
    display:block;
    position:absolute;
    top:0;
    right:0;
  }
  ul.navbar.responsive li{
    display:block;
  }
}

body {
  margin:0;
  position:relative;
  min-height:100vh;
}
main{ 
  padding:5%;
  padding-top:10%;
  position:relative;
  min-height:100%;
 }
footer {
  background-color:white;
  border-top:solid black 5px;
  width:100%;
  height:9em;
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
  position:absolute;
  bottom: 0;
}

